@model string;
@if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
{
    <div style="position:fixed;right:5px ;bottom:15px" class="text-white">
    <a asp-controller="@Model" asp-controller="Producers" asp-action="Create" class="btn btn-success">
        <i class="bi bi-plus-circle"></i> Add New
    </a>

</div>}